<div class="expaind-navbar-hsd hidden" id="expaind-navbar">
    <ul class="en-list">
        <li class="en-item">
            <a href="/" class="en-link">
                <img src="/client/assets/images/icon/logo.png" alt="">
            </a>
        </li>
        <li class="en-item">
            <div class="en-link gohome" style="cursor: pointer;">Trang chủ</div>
        </li>
        <li class="en-item">
            <a href="/login" class="en-link">Quản trị viên</a>
        </li>
        <li class="en-item">
            <a href="/feedback" class="en-link">Phản hồi khách hàng</a>
        </li>
        <li class="en-item final">
            <a href="" class="en-link">Doctor Care - 2022</a>
        </li>

    </ul>
</div>

<div class="blurred hidden">

</div>