<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="footer-cl footer-cl-1">
                    <img src="/client/assets/images/icon/logo.png" width="200px" alt=""><br>
                    <span>Công ty cổ phần công nghệ DoctorCare</span><br>
                    <div class="footer-icon">
                        <i class="fa-solid fa-map-location"></i>
                    </div> <span> Đà Nẵng,Việt Nam</span><br>
                    <div class="footer-icon">
                        <i class="fa-solid fa-check"></i>
                    </div>
                    <span>ĐKKD số: 0123456789. Sở KHĐT Đà Nẵng cấp ngày
                        31/12/2021</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12">
                <div class="footer-cl footer-cl-2">
                    <ul class="footer-list">
                        <li class="f-list-item">
                            <a href="" class="span">Qui chế hoạt động</a>
                        </li>
                        <li class="f-list-item">
                            <a href="" class="span">Chính sách bảo mật</a>
                        </li>
                        <li class="f-list-item">
                            <a href="" class="span">Điều khoản hoạt động</a>
                        </li>

                        <li class="f-list-item">
                            <a href="" class="span">Qui trình hỗ trợ giải quyết khiếu nại</a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-3 col-sm-12">
                <div class="footer-cl footer-cl-1">
                    <ul class="footer-list">
                        <li class="f-list-item">
                            <span>Trụ sở tại Hà Nội</span><br>
                            <span> Thành Thái, Dịch Vọng, Cầu Giấy, Hà Nội</span>
                        </li>
                        </li>
                        <li class="f-list-item">
                            <span>Văn phòng tại TP Hồ Chí Minh</span><br>
                            <span> Cách Mạch Tháng Tám, P. Bến Thành, Quận 1</span>
                        </li>
                        <li class="f-list-item">
                            <span>Hỗ trợ khách hàng</span><br>
                            <span>support@DoctorCare.vn</span>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
    <div class="footer-end">
        <div class="container">
            <div class="footer-end-container">
                <div class="end-title">
                    <span>&copy; 2022 DoctorCare</span>
                </div>
                <ul class="end-icon">
                    <li class="end-icon-item fb-link">
                        <a href="" class="end-icon-link ">
                            <i class="fa-brands fa-facebook-f"></i> </a>
                    </li>
                    <li class="end-icon-item ytb-link">
                        <a href="" class="end-icon-link ">
                            <i class="fa-brands fa-youtube"></i> </a>
                    </li>
                </ul>
            </div>
        </div>


    </div>


</div>