<!-- header -->
<div class=" header">
    <div class="container">
        <div class="header-container">
            <div class="header-expand-logo" id="header-expand-logo">
                <div class="header-expand">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>

                </div>
                <div class="header-logo">
                    <a href="/">
                    <img src="/client/assets/images/icon/logo.png" alt="" width="200px" height="50px">

                    </a>
                </div>
            </div>
            <div class="header-menu">
                <ul class="menu-list">
                    <li class="menu-item ">
                        <a href="#spe-hide-all" id="click-hide-spe">
                            <span>Chuyên Khoa</span>
                            <span>Chọn bác sĩ theo chuyên khoa</span>
                        </a>

                    </li>
                    <li class="menu-item">
                        <a href="#cli-hide-all">
                            <span>Cơ sở y tế
                            </span>
                            <span>Chọn bệnh viện phòng khám</span>
                        </a>

                    </li>
                    <li class="menu-item">
                        <a href="#doctor-hide-all">
                            <span>Bác sĩ
                            </span>
                            <span>Chọn bác sĩ giỏi</span>
                        </a>

                    </li>
                    <li class="menu-item">
                        <a href="/all-posts">
                            <span>Cẩm nang

                            </span>
                            <span>Cẩm nang khám bệnh</span>
                        </a>

                    </li>

                </ul>
            </div>
            <div class="header-support">
                <span class="icon-support"><i class="fa-solid fa-comment"></i></span>
                <span class="icon-title"> <a href="/feedback">Phản hồi</a></span>
            </div>
        </div>
    </div>

</div>