<div class=" header-section-detail">
    <div class="container">
        <div class="header-section-detail-container">
            <div class="hsd-expand-logo">
                <!-- <div class="hsd-expand-logo">
                        <img src="/client/assets/images/icon/logo.png" alt="" width="200px" height="50px">
                    </div> -->
                <div class="icon-back" style="cursor: pointer;color:white" id="icon-back"><i
                        class=" fa-solid fa-arrow-left"></i></div>

                <div class="hsd-expand">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>

                </div>
            </div>

        </div>
    </div>

</div>