<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>
                <div title="More info">
                    Doctors Care - 2022</div>
            </span>
        </div>
    </div>
</footer>