<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/client/assets/libs/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/client/assets/libs/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="/client/assets/libs/slick/slick-theme.css">
    <link rel="stylesheet" href="/client/assets/libs/fontawesome/all.css">
    <link rel="stylesheet" href="/client/assets/libs/owlCarousel2/owl.carousel.min.css"">
    <link rel="stylesheet" href="/components/AlertifyJS/css/alertify.min.css" />
    <link rel="stylesheet" href="/components/AlertifyJS/css/themes/default.min.css" />


    <link rel=" stylesheet" href="/client/assets/css/styles.css">
    <link rel="stylesheet" href="/client/assets/css/homepage/header.css">
    <link rel="stylesheet" href="/client/assets/css/homepage/banner.css">
    <link rel="stylesheet" href="/client/assets/css/homepage/section.css">
    <link rel="stylesheet" href="/client/assets/css/homepage/review.css">
    <link rel="stylesheet" href="/client/assets/css/homepage/hideall.css">
    <link rel="stylesheet" href="/client/assets/css/homepage/footer.css">
    <link rel="stylesheet" href="/client/assets/css/form-book.css">
    <link rel="stylesheet" href="/client/assets/css/post-all.css">
    <link rel="stylesheet" href="/client/assets/css/post-detail.css">
    <link rel="stylesheet" href="/client/assets/css/book-success.css">
    <link rel="stylesheet" href="/client/assets/css/dcs-all.css">
    <link href='/images/favicon.ico' rel="icon" type="image/ico" />
    <title> DoctorCare </title>
</head>

<body>


    <%-content-%>
    <!-- <script type='text/javascript' src=<%=process.env.URL_BING_HTTPS %> async defer ></script> -->

        <script src="/client/assets/libs/fontawesome/all.min.js"></script>

        <!-- <script src=" ./assets/libs/owlCarousel2/owl.carousel.min.js">
    </script> -->
        <script type="text/javascript" src="/client/assets/libs/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="/client/assets/libs/slick/slick.min.js">
        </script>
        <script type="text/javascript" src="/client/assets/js/main.js"></script>
      




        <!-- <script src="./assets/libs/popper.min.js"></script> -->
        
        <script src="/client/assets/libs/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="/js/client.js"></script>
            <script type="text/javascript"  src="/js/admin.js"></script>
            <script src="/components/AlertifyJS/alertify.min.js"></script>

</body>


</html>